.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  p {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    color: #f5f7fa;
  }
}
