nav {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.3s ease;
    font-weight: bold;
    &:hover {
      background: #1f2933;
      color: #fff;
    }
  }
}
.active-button {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
      background: #f5f7fa;
      color: #1f2933;
    }
    h1 {
      color: #f5f7fa;
    }
  }
  .active-button {
    background: #1f2933;
    color: #f5f7fa;
  }
}
